<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="/doUpload" method="post" enctype="multipart/form-data">
    选择头像：<br>
    <input type="file" name="pic"><br>
    <input type="submit" value="提交"><br>
</form>
</body>
</html>